.dropdown-container {
  position: relative;
  display: inline-block;
  width: 160px;
}

.checkbox-dropdown {
  position: absolute;
  min-width: 100%;
  z-index: 1000;
  background-color: rgb(83, 83, 83);
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  max-height: 600px;
  overflow-y: auto;
  top: 100%;
}

.checkbox-dropdown label {
  display: block;
  margin: 5px 0;
}

.dropdown-container button,
.checkbox-dropdown button {
  padding: 10px 20px;
  background-color: rgb(83, 83, 83);
  color: white;
  border: none;
  cursor: pointer;
}
